body{
    font-family: 'Popins', sans-serif;
    font-size: 30px;
    margin: 0px;
    padding: 0px;
    color: white;
    background-color: #000000;
}


.health_container {
    position: absolute;
    bottom: 0px;
    width: 200px;
    height: 50px;
    background-image: linear-gradient(to left, #15da1f9c, #00000080);
    
}


.health_container img {
    height: 26px;
    margin: 16px;
}

.health_current {
    color: white;
    font-size: 32px;
    font-weight: bold;
    position: absolute;
    bottom: 2px !important;

}
  
.shield_container img {
    height: 26px;
    margin: 16px;
}

.shield_current {
    color: white;
    font-size: 32px;
    font-weight: bold;
    position: absolute;
    bottom: 2px !important;
}

.shield_container {
    position: absolute;
    bottom: 50px;
    width: 200px;
    height: 50px;
    background-image: linear-gradient(to left, #1bbeb191, #00000080);
}

.score_container img {
    height: 26px;
    margin: 16px;
}

.score_current {
    color: white;
    font-size: 32px;
    font-weight: bold;
    position: absolute;
    bottom: 2px !important;
}

.score_container {
    position: absolute;
    bottom: 100px;
    width: 200px;
    height: 50px;
    background-image: linear-gradient(to left, #0d169791, #00000080);
}


.loot-container {
    position: absolute;
    bottom: 160px;
    width: 200px;
    background-image: linear-gradient(to left, #000000, #00000000);
}

.loot-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.loot-row img {
    height: 26px;
    margin: 16px;
    opacity: 0.5;
}



.healthpack-hud img {
    height: 26px;
    margin: 16px;

}

.shield-hud img {
    height: 26px;
    margin: 16px;

}

.key-hud img {
    height: 26px;
    margin: 16px;

}

.damage-hud img {
    height: 26px;
    margin: 16px;

}

.firerate-hud img {
    height: 26px;
    margin: 16px;

}

.speed-hud img {
    height: 26px;
    margin: 16px;

}


/* Style for the container div */
.welcome-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    max-width: 900px;
    margin: 0 auto;
    background-color: #110e0edc;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    text-align: center;
  }
  
  /* Style for the title text */
  h1 {
    color: #fff;
    text-shadow: 1px 1px #ff00ff;
    font-size: 3rem;
    margin-bottom: 30px;
  }
  
  /* Style for the body text */
  p {
    color: #fff;
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  /* Style for the buttons */
  button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #ff00ff;
    color: #000;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
    text-shadow: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  /* Style for the start button */
  .start-btn {
    background-color: #00ff00;
    color: #000;
    font-size: 2rem;
    text-shadow: none;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
  }
  
  /* Style for the next and previous buttons */
  .next-btn,
  .prev-btn {
    background-color: #ff00ff;
    color: #000;
    font-size: 1.5rem;
  }
  
  /* Style for the buttons on hover */
  button:hover {
    background-color: #fff;
  }
  
  /* Style for the list items */
  ul {
    color: #fff;
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: left;
  }
  
  /* Style for the images in list items */
  ul img {
    vertical-align: middle;
    margin-right: 10px;
  }
  
/* Button styles */
.next-btn,
.prev-btn,
.start-btn {
  background-color: #ffffff;
  color: #020202;
  border: 2px solid #020202;
  font-size: 24px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.next-btn:hover,
.prev-btn:hover,
.start-btn:hover {
  background-color: #020202;
  color: #ffffff;
}

/* Text styles */
h1,
h3,
p {
  color: #ffffff;
  font-size: 36px;
  font-weight: bold;
}

/* List styles */
ul {
  list-style: none;
  margin: 0;
  margin-left: 20px;
  padding: 0;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

ul li {
  display: flex;
  align-items: center;
  margin-right: 20px;
  font-size: 24px;
}

ul li img {
  margin-right: 10px;
}

h3{
    text-align: left;
    text-shadow: 1px 1px #ff0022;
}

.levelPassed {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  background-color: #110e0edc;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  text-align: center;
}

.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0px;
}

label {
  flex-basis: 50%;
  text-align: right;
  margin-right: 10px;
}

input {
  flex-basis: 75%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: auto;
}
span {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 20px;
}

label {
  color: #fff;
  font-size: 20px;
  margin-top: 20px;
}